<a href="@Url.Action("Cart","Cart")">
        <button class="btn btn-outline-dark" type="submit">
            Giỏ hàng<span class="badge bg-dark text-white ms-1 rounded-pill">@ViewBag.TongSoLuong</span>
        </button>
</a>