
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Đặt hàng thành công</h4>
    <p>Cảm ơn quý khách đã đặt hàng, nhân viên của S2T STORE sẽ sớm liên hệ với quý khách để tiến hành xác nhân đơn hàng,thủ tục thanh toán và quy cách nhận hàng</p>
    <hr>
    <p class="mb-0">Chúc quý khách có một ngày thật tốt lành và hạnh phúc.</p>
</div>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Default")
</p>