
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header-->
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">
                        S2T STORE, Shop Giày Sneaker Giá Rẻ Số 1 Hà Nội – Hồ Chí Minh
                    </h1>
                    <p class="lead fw-normal text-muted mb-4">
                        S2T STORE rất hân hạnh chào mừng các bạn đến với chúng tôi.
                        S2T STORE chuyên cung cấp các sản phẩm giày sneaker cho cả nam
                        và nữ, giá rẻ hot nhất. Chất lượng luôn đảm bảo số 1 Việt Nam.
                        Bảo hành lên đến 1 năm, đổi trả trong vòng 3 tháng.
                    </p>
                    <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-5 mb-lg-0"
                     src="~/Content/images/thuonghieu.jpg"
                     style="width: 600px; height: 400px"
                     alt="..." />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Phát triển thương hiệu</h2>
                <p class="lead fw-normal text-muted mb-0">
                    Với tiêu chí: “luôn mang đến cho khách hàng những đôi giày
                    sneaker chất lượng nhất”,S2T STORE sẵn sàng lắng nghe ý kiến
                    của khách hàng, để cải thiện tốt hơn nữa dịch vụ cũng như chăm
                    sóc khách hàng sau mua hàng.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last">
                <img class="img-fluid rounded mb-5 mb-lg-0"
                     src="~/Content/images/nhanvien.jpg"
                     style="width: 600px; height: 400px"
                     alt="..." />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">
                    Đội Ngũ Nhân Viên Và Thương Hiệu Là Uy Tín Hàng Đầu.
                </h2>
                <p class="lead fw-normal text-muted mb-0">
                    S2T STORE cam kết sản phẩm chất lượng, khách hàng có thể nhận hàng
                    và thanh toán sau để có thể cảm nhận được chất lượng của đôi
                    giày mà S2T STORE cung cấp. Với nhu cầu để cho đôi chân bạn luôn
                    được êm ái hãy đến với S2T STORE để có trải nhiệm tuyệt vời nhất
                    về giày.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Team members section-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Đội ngũ ăn hại chúng tôi</h2>
            <p class="lead fw-normal text-muted mb-5">
                Luôn phục vụ bạn tận tình và chu đáo nhất
            </p>
        </div>
        <div class="
              row
              gx-5
              row-cols-1 row-cols-sm-2 row-cols-xl-4
              justify-content-center
            ">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4"
                         src="~/Content/images/nguyen.jpg"
                         alt="..."
                         style="width: 210px; height: 150px" />
                    <h5 class="fw-bolder">Nguyễn Trung Nguyên</h5>
                    <div class="fst-italic text-muted">Founder &amp; CEO</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4"
                         src="~/Content/images/giang.jpg"
                         alt="..."
                         style="width: 210px; height: 150px" />
                    <h5 class="fw-bolder">Giang Nguyễn</h5>
                    <div class="fst-italic text-muted">CFO</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4"
                         src="~/Content/images/thuyen.png"
                         alt="..."
                         style="width: 210px; height: 150px" />
                    <h5 class="fw-bolder">Nguyễn Hoàng Thuyên</h5>
                    <div class="fst-italic text-muted">Operations Manager</div>
                </div>
            </div>
           
        </div>
    </div>
</section>